body{
	background-image:url(../images/bei5.jpg);
	margin:0px auto;
	width:800px;
	height:1000px;
}
.a{
	height:270px;
}
.b{
	height:700px;
}
.b1{
	width:125px;
	color:white;
	float:left;
	margin:10px;
}
.b2{
	width:145px;
	color:white;
	float:right;
}
.b3{
	width:488px;
	color:white;
	float:right;
	margin:0px 9px 0px 0px;
}
.yuan{
	font-size:20px;
	color:white;
}
.y{
	color:white;
}
.c{
   width:80%;
   height:100px;
   text-align:center;
   color:white;
   position: relative;
   left:10%;
}
.boot{
   text-align:center;
   list-style-type: none;
}
.boot ul li{
   display:inline;
}