body{
	background-image:url(../images/bei5.jpg);
	margin:0px auto;
	width:800px;
	height:1000px;
}
.a{
	height:270px;
}
.b{
	height:700px;
}
.b1{
	width:200px;
	height:700px;
	float:left;
	border:1px red solid;
}

.c{
   width:80%;
   height:100px;
   text-align:center;
   color:white;
   position: relative;
   left:10%;
}
.boot{
   text-align:center;
   list-style-type: none;
}
.boot ul li{
   display:inline;
}