body{
	background-image:url(../images/bei5.jpg);
	margin:0px auto;
	width:800px;
	height:1000px;
}
.a{
	height:270px;
}
.b{
	height:500px;
}
.bb{
   margin:10px 0px 0px 0px;
}
.bc{
   margin:10px 0px 10px 0px;
}
.bd{
   margin:10px 0px 10px 0px;
}
.b1{
   width:266px;
   height:115px;
   float:left;
}
.b11{
   float:left;
}
.b111{
   float:left;
}
.b12{
   color:A0522D;
}
.b2{
   width:266px;
   height:115px;
   float:left;
}
.b3{
   width:266px;
   height:115px;
   float:left;
}
.c{
   width:80%;
   height:100px;
   text-align:center;
   color:white;
   position: relative;
   left:10%;
}
.boot{
   text-align:center;
   list-style-type: none;
}
.boot ul li{
   display:inline;
}